{$EDGE_DOMAIN} {
    tls {$SSL_EMAIL}

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data: blob:; media-src 'self' blob:; font-src 'self' data:; connect-src 'self' wss:; worker-src 'self' blob:"
        -X-Powered-By
    }

    reverse_proxy nginx:80
}
watchly.pradayak.regmig.com {
      tls {$SSL_EMAIL}

      @local {
          remote_ip 192.168.10.0/24 192.168.20.0/24 127.0.0.1/32 100.64.0.0/10
      }
      handle @local {
          reverse_proxy 172.18.0.1:8000
      }
      handle {
          respond "Access restricted to local network." 403
      }
  }
